mixin menu(data)
  .menu
    .menu__mobile
    .menu__list
      a(href="#" title="").menu__item._book._active Онлайн курс
      a(href="#" title="").menu__item._question Консультация
      a(href="#" title="").menu__item._diary Дневник
      a(href="#" title="").menu__item._star Сервисы
      a(href="#" title="").menu__item._settings Мой профиль