.chart {
  margin-top: 30px;
  padding: 30px;

  background: #ebebeb;
  box-shadow: 0 1px 1px rgba(#2f333a, .2);
}

.chart-top {
  margin-bottom: 20px;
  &__title {
    text-transform: uppercase;

    color: #666;

    font-size: 20px;
  }
}
