mixin modules-menu(data)
  .modules-menu
    a(href="#" title="").modules-menu__item._active Приветствие
    a(href="#" title="").modules-menu__item._finish 1 модуль
    a(href="#" title="").modules-menu__item 2 модуль
    a(href="#" title="").modules-menu__item 3 модуль
    a(href="#" title="").modules-menu__item 4 модуль
    a(href="#" title="").modules-menu__item 5 модуль