mixin module-video(data)
  .module-video
    .module-video__iframe
      img(src="%=static=%images/assets/module-video/video.png" alt="")
    .module-video__text Ваша задача после этого занятия сбалансировать свой рацион в соответствии с рекомендациями в видео, при этом сохраняя свои нормы по БЖУ. Также не забываем все вносить в приложения FatSecret и WaterBalance. Для продолжения в поле ниже  поставьте +