mixin question-master(data)
  .question-master
    .question-master__title ОТвечает

    img(src="%=static=%images/assets/question-master/master.png" alt="")

    .question-master__name Ликова Елена
    .question-master__pro диетолог, кардиолог, терапевт
