mixin main-method(data)
  .main-method
    .main-method__title Методика курса

    ol.numered-list
      li Ежедневно у Вас будет открываться доступ к новому модулю. Вы выполняете уроки и отписываетесь по домашнему заданию (если требуется прикрепить какой-либо файл, то этот файл загружается на облачное хранилище (например яндекс диск, google drive), а в ответ прикрепляется ссылка на него). Файлы, присланные через скайп\почту\телеграмм и прочие виды связи - рассмотрены не будут!

      li Мы его проверяем и, возможно, просим Вас переделать или доработать. И после этого Вы получаете доступ к следующему уроку. Некоторые уроки вы сможете проходить сразу, как только сдадите задание

      li Вы можете задавать вопросы куратору. Куратор - это человек, который успешно прошел нашу «Школу-Диетологов» или же имеет другое специализированное диетологическое образование, опыт, и работает с нами в рамках проекта «Диетологи-России».
