.profile-settings {
  display: flex;

  padding: 30px;

  align-items: flex-start;
  @extend .white-shadow-block;
  justify-content: flex-start;
}

.profile-settings-avatar {
  max-width: 252px;
  margin-right: 60px;
  img {
    margin-bottom: 40px;
  }
}