mixin user(data)
  .user
    a(href="#" title="").user__avatar
      img(src="%=static=%images/assets/user/avatar.png" alt="")
    .user__content
      .user__name Пустовой Денис 
      .user__mail denver2@yandex.ru
      a(href="#" title="").user__exit
        i.fa.fa-power-off
        span выйти