mixin answer-question(data)
  .answer-question
    .answer-question__title Как правильно питаться до и после тренировки и какой должен быть временный промежуток?

    .answer-question__date 13 часов назад

    .answer-question__text Пытаюсь похудеть уже 3 года. Весил 120 кг, сейчас вешу 102-104. Вест активно сгонял на кардио, постепенно перешел на работу с весами. Вес стабилен. При начале тренировок не очень соблюдал диету,

    .answer-question-pro
      .answer-question-pro__avatar
        img(src="%=static=%images/assets/answer-question/pro.png" alt="")
      .answer-question-pro__content
        .answer-question-pro__name Ликова Елена
          span 13 часов назад

        .answer-question-pro__text Для составления индивидуального меню, режима дня вам необходимо обратиться к диетологу. Работа с данным специалистом предполагает адаптацию общих рекомендаций под вас, обучение этому и контроль за выполнением, что является одной из важнейших составляющих. В условиях одного приема и дня данная схема не работает, потому что это и есть общие рекомендации. 