mixin last-diary-items(data)
  .last-diary-items
    .last-diary-items__title Последние записи

    .last-diary-items__list
      .last-diary-items__row._green
        .last-diary-items__arrow
          i.fa.fa-long-arrow-up
        .last-diary-items__weight 65
        .last-diary-items__weight-count - 0,5 кг
        .last-diary-items__date 19.05.2016
        a(href="#" title="").last-diary-items__control
          i.fa.fa-pencil
        a(href="#" title="").last-diary-items__control
          i.fa.fa-times

      .last-diary-items__row._red
        .last-diary-items__arrow
          i.fa.fa-long-arrow-down
        .last-diary-items__weight 66
        .last-diary-items__weight-count + 0,5 кг
        .last-diary-items__date 19.05.2016
        a(href="#" title="").last-diary-items__control
          i.fa.fa-pencil
        a(href="#" title="").last-diary-items__control
          i.fa.fa-times

      .last-diary-items__row
        .last-diary-items__arrow
          i.fa.fa-arrows-v
        .last-diary-items__weight 66
        .last-diary-items__weight-count - 0,0 кг
        .last-diary-items__date 19.05.2016
        a(href="#" title="").last-diary-items__control
          i.fa.fa-pencil
        a(href="#" title="").last-diary-items__control
          i.fa.fa-times