mixin questions(data)
  .questions
    a(href="#" title="").button._green._question Задать вопрос

    .questions__title Частые вопросы

    a(href="#" title="").questions__item 
      i.fa.fa-question-circle
      span Как правильно питаться до и после тренировки и какой при этом должен быть временный промежуток?

    a(href="#" title="").questions__item 
      i.fa.fa-question-circle
      span Какие продукты очень опасны?

    a(href="#" title="").questions__item
      i.fa.fa-question-circle
      span Прежде, чем делать рельеф, нужно убрать жир?

    a(href="#" title="").questions__item
      i.fa.fa-question-circle
      span Как правильно питаться до и после тренировки и какой при этом должен быть временный промежуток?


